* {
	margin: 0;
	padding: 0;
}

h1 {
	font-size: 100px;
	text-align: center;
	font-family: 'Amatic SC', cursive
}

h2 {
	font-size: 60px;
	text-align: center;
	font-family: 'Amatic SC', cursive
}


p {
	font-size: 50px;
	color: rgba(255,255,255,1.00);
	background-image: url(../images/palm.jpg);
	background-size: cover;
	text-align: center;
	font-family: 'Amatic SC', cursive
}

body {
    background-image: url(../images/pattern.jpg);
    background-repeat: center;
	background-size: cover;
	text-align: center;
}
.something {
    background-color: #85C2E8;
    width: 103px;
    border-radius: 20px;
    height: 63px;
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
    font-size: 32pt;
    color: #000000;
    text-align: center;
    line-height: 55px;
	font-family: 'Amatic SC', cursive;
}

.center-content {
	margin-left: auto;
	margin-right: auto;
	width: 1000px;
	
}

